<div>
    <% quizzes.each do |quiz| %>
        <div class="border-top py-3 my-3">
            <div>
                <h5>クイズ作成者：<%= quiz.user.name %>さん</h5>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <% unless quiz.genre.blank? %>
                    <p class="badge badge-secondary text-white align-self-center"><%= quiz.genre_category %></p>
                <% end %>
                <p>クイズ作成日：<%= quiz.created_at %></p>
            </div>
            <div>
                <p><%= simple_format(quiz.content) %></p>
            </div>
            <div class="row">
                <div class="col-10">
                    <%= link_to "答えを見る", quiz_path(quiz), class: 'btn btn-success btn-sm' %>
                    <% if current_user == quiz.user %>
                        <%= link_to "編集", edit_quiz_path(quiz), class: 'btn btn-primary btn-sm' %>
                    <% end %>
                    <% if current_user == quiz.user %>
                        <%= link_to "削除", quiz, method: :delete, data: { confirm: "このクイズを削除しますか？" }, class: 'btn btn-danger btn-sm' %>
                    <% end %>
                </div>
                <div class="col-2">
                    <% if logged_in? %>
                        <%= render "favorites/favorite_button", quiz: quiz %>
                    <% end %>    
                </div>
            </div>
        </div>    
    <% end %>
    <%= paginate quizzes %>
</div>