<header class="mb-4">
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        <div class="ml-4">
            <% if logged_in? %>
                <%= link_to 'ふくまな', user_path(current_user), class: 'nav-link navbar-brand' %>
            <% else %>    
                <a class="navbar-brand" href="/">ふくまな</a>
            <% end %>    
        </div>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="mr-4 collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <% if logged_in? %>
                    <li class="nav-item"><%= link_to 'マイページ', user_path(current_user), class: 'nav-link' %></li>
                    <li class="nav-item"><%= link_to 'クイズの作成', new_quiz_path, class: 'nav-link' %></li>
                    <li class="nav-item"><%= link_to 'クイズ一覧', quizzes_path, class: 'nav-link' %></li>
                    <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
                <% else %>
                    <li class="nav-item"><%= link_to '会員登録', signup_path, class: 'nav-link' %></li>
                    <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
                <% end %>
            </ul>
        </div>
    </nav>
</header>